// EXAMPLE !!
$c-gray: #4f4f4f;
$c-dark-gray: #3f3f3f;
$c-light-gray: #9f9f9f;
$c-white: #ffffff;

$c-title: $c-gray;
$c-button-bg: $c-gray;
$c-button-text: $c-white;
$c-button-border: $c-gray;
$c-button-dark-text: $c-gray;
$c-input-color: $c-gray;
$c-input-border: $c-light-gray;
$c-input-placeholder: $c-light-gray;
$c-icon-fill: $c-white;
$c-card-border: $c-gray;
$c-card-text: $c-gray;
$c-modal-bg: $c-white;